<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="Encuentra y pide a domicilio a los comercios más cercanos de tu casa" />
	  <meta name="keywords" content="domicilio, docmicilios, comida, pide, comercios, farmacias, tiendas, restaurantes, pedidos, aplicación, responsive" />
	  <meta name="author" content="https://kypershop.com/" />

    <title>{% block head_title %}{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'sb_admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Table styles -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

    <!-- Custom styles for this template-->
    <link href="{% static 'sb_admin/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'kypershop/web/front/css/style.css' %}" rel="stylesheet">


    {% block extra_head %}
    {% endblock %}
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">       

        {% include "front_market/menu.html" %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {% include "front_market/header.html" %}
                {% block body %}

                {% endblock %}
            </div>
            <!-- End of Main Content -->

            {% include "front_market/footer.html" %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
  

    {% block extra_body %}

    {% endblock %}

     <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'sb_admin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sb_admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'sb_admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'sb_admin/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'sb_admin/vendor/chart.js/Chart.min.js' %}"></script>    

     <!-- Table level plugins -->
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-es-MX.min.js"></script>

    <!--custom scripts for front markets -->
    <script src="{% static 'kypershop/web/front/js/main.js' %}"></script>
</body>
</html>
