{% extends "front_market/base.html" %}
 
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Hola, {{name |lower|capfirst}}</h1>    
        <a href="{% url "create_order_markets" %}" class="d-none d-sm-inline-block btn btn-danger shadow-sm"> <i class="fas fa-cart-plus"></i> Crear Pedido</a>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Productos</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{products}}</div>
                    </div>
                    <div class="col-auto">
                    <i class="fas fa-tags fa-2x text-gray-300"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Pedidos Activos</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{orders}}</div>
                    </div>
                    <div class="col-auto">
                    <i class="fas fa-cash-register fa-2x text-gray-300"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Promociones</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Mi Kyper</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <div class="col-md-12"> 
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recepción de pedidos</h6>
                </div>
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table  class="table table-bordered table_kypershop" id="dataTableOrders" width="100%" cellspacing="0"
                            data-toggle="table"
                            data-pagination="true"
                            data-search="true"
                            data-show-refresh="true"
                            data-mobile-responsive="true"
                            data-id-field="UUID"
                            data-page-list="[10, 25, 50, 100, all]"
                            data-url="/api/v1/table/orders/{{market_id}}/">
                            <thead>
                            <tr>
                                <th data-field="creation_date" >Fecha</th>
                                <th data-field="total_price" >Valor total</th>
                                <th data-field="payment_method" >Medio de pago</th>
                                <th data-field="name_client" >Cliente</th>
                                <th data-field="address" >Direccion</th>
                                <th data-field="phone" >Teléfono</th>
                                <th data-field="status_order" >Estado</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


{% endblock %}

           