{% extends "front_market/base.html" %}
{% block extra_head %}    
    
{% endblock %}
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    {% if market_id > 0 %}
        <input type="hidden" id="id_market" value="{{market_id}}">
        <input type="hidden" id="token" value="{{token}}">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Hola, {{name |lower|capfirst}}</h1>    
            <a href="{% url "create_order_markets" %}" class="d-none d-sm-inline-block btn btn-danger shadow-sm"> <i class="fas fa-cart-plus"></i> Crear Pedido</a>
        </div>
        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Productos</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{products_count}}</div>
                        </div>
                        <div class="col-auto">
                        <i class="fas fa-tags fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Pedidos Activos</div>
                            <div id="order_active" class="h5 mb-0 font-weight-bold text-gray-800">{{orders_count}}</div>
                        </div>
                        <div class="col-auto">
                        <i class="fas fa-cash-register fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Pedidos Gestinados</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div id="order_historic" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{orders_historic_count}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Mi Kyper</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-12"> 
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Recepción de pedidos</h6>
                    </div>
                    <div class="card-body">                        
                        <div class="table-responsive">
                            <table  class="table table-bordered table_kypershop" id="dataTableOrders" width="100%" cellspacing="0"
                                data-toggle="table"
                                data-pagination="true"
                                data-search="true"
                                data-show-refresh="true"
                                data-mobile-responsive="true"
                                data-id-field="UUID"
                                data-page-list="[10, 25, 50, 100, all]"
                                data-url="/api/v1/table/orders/{{market_id}}/">
                                <thead>
                                <tr>
                                    <th data-field="creation_date"  data-formatter="dateOrderFormatter">Fecha</th>
                                    <th data-field="total_price"  data-formatter="totalPriceOrderFormatter">Valor total</th>
                                    <th data-field="payment_method"  data-formatter="payMethodOrderFormatter" >Medio de pago</th>
                                    <th data-field="name_client" >Cliente</th>
                                    <th data-field="address" >Direccion</th>
                                    <th data-field="phone" >Teléfono</th>
                                    <th data-field="status_order"  data-formatter="statusOrderFormatter">Estado</th>
                                    <th data-field="operate" data-halign="center" data-align="center" data-formatter="operateOrderFormatter" data-events="operateOrderEvents">Acciones</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Hola {{user}}</h1>    
        </div>
        
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-12">
                <!-- Collapsable Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Para poder inciar a recibir pedidos con kypershop 
                                debes crear tu comercio, por favor diligencia los campos que se encuentran a continuación</h6>
                    </div>
                    <div class="card-body">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form id="form_kyper" class="user" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}                              
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name_kyper">Nombre del comercio</label>
                                    <input type="text" class="bg-gray-100 form-control form-control-user" id="name_kyper" name="name_kyper" placeholder="Nombre del comercio" autofocus="autofocus" required="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="file">Seleccionar Imagen <small>Opcional- dimensiones 1300x498 px</small></label>
                                    <div class="custom-file">
                                        <input type="file" class="bg-gray-100 form-control form-control-user custom-file-input" id="file" name="file">
                                        <label class="custom-file-label" for="file">Seleccionar Imagen</label>
                                    </div>  
                                </div>
                            </div>
                            <div class="form-row">                                
                                <div class="form-group col-md-6">
                                    <label for="minimum_price">Precio Domicilio <small>Opcional - valor 0 sin cobro de domicilio para el cliente</small></label>
                                    <input type="number" class="bg-gray-100 form-control form-control-user" id="delivery_price" name="delivery_price" placeholder="Precio Minimo" value="0" pattern="[0-9]" required="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="minimum_price">Precio Minimo por pedido</label>
                                    <input type="number" class="bg-gray-100 form-control form-control-user" id="minimum_price" name="minimum_price" placeholder="Precio Minimo" pattern="[0-9]" required="required">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="title">Dirección</label>
                                    <input type="text" class="bg-gray-100 form-control form-control-user" id="addresses" name="addresses" placeholder="Dirección"  required="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="title">Ciudad</label>
                                    <input type="text" class="bg-gray-100 form-control form-control-user" id="city" name="city" placeholder="Ciudad"  required="required">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="title">Seleccionar Categoria</label>
                                    <select class="bg-gray-100 form-control" id="category" name="category">
                                        {% for category in categories %}
                                            <option value="{{category.id}}">{{category.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="title">Teléfono</label>
                                    <input type="tel" class="bg-gray-100 form-control form-control-user" id="number" name="number" placeholder="0000000000" pattern="[0-9]{10}" required="required">
                                </div>
                            </div>
                            <br/>
                            <div class="form-row justify-content-md-center">
                                <div class="form-group col-md-auto">
                                    {{ form_location.as_p }}
                                </div>
                            </div>
                            <br/>
                            <div class="form-row justify-content-md-center">
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-danger btn-block">Crear Kyper</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <!--Modal for alert`s change state -->
    <div class="modal fade text-left modal-borderless" id="modal_order_status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Cambiar estado del pedido</h3>
                    <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-md-center">
                        <div class="col-md-10">
                            <h6>Por favor seleccione el cambio de estado:</h6>
                            <br/>
                            <input type="hidden" id="order_id" value="0">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-danger active" for="rd_cancel" id="option_cancel">
                                    <input type="radio" name="options" id="rd_cancel" value="4"> Cancelar
                                </label>
                                <label class="btn btn-outline-primary" for="rd_received" id="option_received">
                                    <input type="radio" name="options" id="rd_received" value="1"> Recibido
                                </label>
                                <label class="btn btn-outline-info" for="rd_progress" id="option_progress">
                                    <input type="radio" name="options" id="rd_progress" value="2"> Procesando
                                </label>
                                <label class="btn btn-outline-success" for="rd_closed" id="option_closed">
                                    <input type="radio" name="options" id="rd_closed" value="3"> Enviado
                                </label>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Cancelar</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1" id="btn_send_status" data-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Aceptar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for order detail -->
    <div class="modal fade" id="modal_order_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalle del pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_detail_order">   
                    <div class="form-row">                                
                        <div class="form-group col-md-6">
                            <label for="title">Nombre Cliente</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del cliente" readonly="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="title">Teléfono</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="teléfono" readonly="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Dirección" readonly="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="complement">Complemento</label>
                            <input type="text" class="form-control" id="complement" name="complement" readonly="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="complement">Productos</label>
                            <table id="table_products_list" class="table table-striped table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 10%">#</th>
                                        <th scope="col" style="width: 70%">Producto</th>
                                        <th scope="col" style="width: 20%">Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>                                        
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="title">Precio total</label>
                            <input type="text" class="form-control" id="total_price" name="total_price" placeholder="Precio total" readonly="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="title">Medio de pago</label>
                            <input type="text" class="form-control" id="payment_method" name="payment_method" placeholder="Medio de pago" readonly="">
                        </div>                    
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="title">Comemtarios</label>
                            <input type="text" class="form-control" id="comments" name="comments" readonly="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
            </div>
            </div>
        </div>
    </div>

    
</div>
<!-- /.container-fluid -->


{% endblock %}

{% block js_custom %}
    
{% endblock %}

           