

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "home" %}">
    <div class="sidebar-brand-icon">
    <i class="fas fa-shopping-bag"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Kypershop</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="{% url "home" %}">
    <i class="fas fa-fw fa-store"></i>
    <span>Inicio</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{% url "create_order_markets" %}">
    <i class="fas fa-fw fa-cart-plus"></i>
    <span>Crear Pedido</span></a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{% url "products_markets" %}">
    <i class="fas fa-fw fa-tags"></i>
    <span>Productos</span></a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{% url "orders_markets" %}">
    <i class="fas fa-fw fa-cash-register "></i>
    <span>Pedidos Gestionados</span></a>
</li>

<!-- Nav Item - Dashboard -->
<!-- <li class="nav-item">
    <a class="nav-link" href="{% url "promo_markets" %}">
    <i class="fas fa-fw fa-dollar-sign"></i>
    <span>Promociones</span></a>
</li> -->


<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{% url "kyper_markets" %}">
    <i class="fas fa-fw fa-store"></i>
    <span>Mi Kyper</span></a>
</li>


<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'account_logout' %}">
    <i class="fas fa-fw fa-sign-out-alt"></i>
    <span>Cerrar Sesión</span></a>
</li>


<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>
<!-- End of Sidebar -->