{% extends "front_market/base.html" %}
 
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mis pedidos</h1>    
    </div>

    <!-- Content Row -->
    <input type="hidden" id="id_market" value="{{market_id}}">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">                        
                    <div class="table-responsive">
                        <table  class="table table-bordered table_kypershop" id="dataTableOrders" width="100%" cellspacing="0"
                            data-toggle="table"
                            data-pagination="true"
                            data-search="true"
                            data-show-refresh="true"
                            data-mobile-responsive="true"
                            data-id-field="UUID"
                            data-page-list="[10, 25, 50, 100, all]"
                            data-url="/api/v1/table/orders/historic/{{market_id}}/">
                            <thead>
                            <tr>
                                <th data-field="creation_date"  data-formatter="dateOrderFormatter">Fecha</th>
                                <th data-field="total_price"  data-formatter="totalPriceOrderFormatter">Valor total</th>
                                <th data-field="payment_method"  data-formatter="payMethodOrderFormatter" >Medio de pago</th>
                                <th data-field="name_client" >Cliente</th>
                                <th data-field="address" >Direccion</th>
                                <th data-field="phone" >Teléfono</th>
                                <th data-field="status_order"  data-formatter="statusOrderFormatter">Estado</th>
                                <th data-field="operate" data-halign="center" data-align="center" data-formatter="operateOrderFormatter" data-events="operateOrderEvents">Acciones</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<!--Modal for alert`s change state -->
    <div class="modal fade text-left modal-borderless" id="modal_order_status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Cambiar estado del pedido</h3>
                    <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-md-center">
                        <div class="col-md-10">
                            <h6>Por favor seleccione el cambio de estado:</h6>
                            <br/>
                            <input type="hidden" id="order_id" value="0">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-danger active" for="rd_cancel" id="option_cancel">
                                    <input type="radio" name="options" id="rd_cancel" value="4"> Cancelar
                                </label>
                                <label class="btn btn-outline-primary" for="rd_received" id="option_received">
                                    <input type="radio" name="options" id="rd_received" value="1"> Recibido
                                </label>
                                <label class="btn btn-outline-info" for="rd_progress" id="option_progress">
                                    <input type="radio" name="options" id="rd_progress" value="2"> Procesando
                                </label>
                                <label class="btn btn-outline-success" for="rd_closed" id="option_closed">
                                    <input type="radio" name="options" id="rd_closed" value="3"> Enviado
                                </label>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Cancelar</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1" id="btn_send_status" data-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Aceptar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for order detail -->
    <div class="modal fade" id="modal_order_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalle del pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_detail_order">   
                    <div class="form-row">                                
                        <div class="form-group col-md-6">
                            <label for="title">Nombre Cliente</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del cliente" readonly="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="title">Teléfono</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="teléfono" readonly="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Dirección" readonly="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="complement">Complemento</label>
                            <input type="text" class="form-control" id="complement" name="complement" readonly="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="complement">Productos</label>
                            <table id="table_products_list" class="table table-striped table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 10%">#</th>
                                        <th scope="col" style="width: 70%">Producto</th>
                                        <th scope="col" style="width: 20%">Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>                                        
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="title">Precio total</label>
                            <input type="text" class="form-control" id="total_price" name="total_price" placeholder="Precio total" readonly="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="title">Medio de pago</label>
                            <input type="text" class="form-control" id="payment_method" name="payment_method" placeholder="Medio de pago" readonly="">
                        </div>                    
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="title">Comemtarios</label>
                            <input type="text" class="form-control" id="comments" name="comments" readonly="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>            
            </div>
            </div>
        </div>
    </div>



{% endblock %}

           