{% extends "front_market/base.html" %}
 
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mis pedidos</h1>    
    </div>

    <!-- Content Row -->

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pedidos Gestionados</h6>
                </div>
                <div class="card-body">                        
                    <div class="table-responsive">
                        <table  class="table table-bordered table_kypershop" id="dataTableOrders" width="100%" cellspacing="0"
                            data-toggle="table"
                            data-pagination="true"
                            data-search="true"
                            data-show-refresh="true"
                            data-mobile-responsive="true"
                            data-id-field="UUID"
                            data-page-list="[10, 25, 50, 100, all]"
                            data-url="/api/v1/table/orders/historic/{{market_id}}/">
                            <thead>
                            <tr>
                                <th data-field="creation_date"  data-formatter="dateOrderFormatter">Fecha</th>
                                <th data-field="total_price"  data-formatter="totalPriceOrderFormatter">Valor total</th>
                                <th data-field="payment_method"  data-formatter="payMethodOrderFormatter" >Medio de pago</th>
                                <th data-field="name_client" >Cliente</th>
                                <th data-field="address" >Direccion</th>
                                <th data-field="phone" >Teléfono</th>
                                <th data-field="status_order"  data-formatter="statusOrderFormatter">Estado</th>
                                <th data-field="operate" data-halign="center" data-align="center" data-formatter="operateOrderFormatter" data-events="operateOrderEvents">Acciones</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


{% endblock %}

           