<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="Encuentra y pide a domicilio a los comercios más cercanos de tu casa" />
	  <meta name="keywords" content="domicilio, docmicilios, comida, pide, comercios, farmacias, tiendas, restaurantes, pedidos, aplicación, responsive" />
	  <meta name="author" content="https://kypershop.com/" />

    <title>{% block head_title %}{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'sb_admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">     

    <!-- Custom styles for this template-->
    <link href="{% static 'sb_admin/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'kypershop/web/front/css/style.css' %}" rel="stylesheet">


    {% block extra_head %}
    {% endblock %}
</head>
<body class="bg-gradient-warning-auth">
    {% block body %}

      {% if messages %}
        <div class="row justify-content-center" style="margin-top:1rem;">
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="alert alert-primary" role="alert">
              <strong>Información:</strong>
              <ul>
                {% for message in messages %}
                  <li>{{message}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      {% comment %} <div>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div> {% endcomment %}
      {% block content %}
      
      {% endblock %}

    {% endblock %}
    {% block extra_body %}

    {% endblock %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'sb_admin/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sb_admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'sb_admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'sb_admin/js/sb-admin-2.min.js' %}"></script>  


</body>
</html>
