{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container bg_container">
  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h3 text-gray-900 mb-4">Bienvenid@ a Kypershop</h1>
                </div>
                <form class="login user" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="id_login">Ingrese su email</label>
                    <input type="email" class="bg-gray-100 form-control form-control-user" id="id_login" name="login" aria-describedby="emailHelp" placeholder="Ingrese su email" autofocus="autofocus" required="required">
                  </div>
                  <div class="form-group">
                  <label for="id_password">Ingrese su contraseña</label>
                    <input type="password" class="bg-gray-100 form-control form-control-user" id="id_password" name="password" placeholder="Ingrese su Contraseña" required="required">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="id_remember" name="remenber">
                      <label class="custom-control-label" for="id_remember">Recordarme</label>
                    </div>
                  </div>
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}                  
                  <button class="btn btn-primary btn-user btn-block primaryAction" type="submit">{% trans "Sign In" %}</button>
                </form>
                <hr>                
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                  <div class="socialaccount_ballot">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Iniciar Sesíon con Google
                    </a>
                  </div>
                  {% include "socialaccount/snippets/login_extra.html" %}
                {% else %}
                  <p>{% blocktrans %}If you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
                <br/>
                <div class="text-center">
                  <a class="small button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
                <div class="text-center">
                  <a class="small button secondaryAction" href="{% url 'account_signup' %}">Crear una cuenta!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}
